/* <!-- <!-======================== categories styling====================================== > --> */
.section{

    justify-content: center;
    margin-top: 100rem;
  }

.section1{

    justify-content: center;
    margin-top: 20rem;
  }

.section2{

    justify-content: center;
    margin-top: 65rem;
    margin-bottom: 65rem;
  }
  
  .category{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5rem;
    
  }
  
  
  .category .product .image img{
    border-radius: 30px;
    width: 200px;
    border-color: rgb(255, 0, 0);
    border-style: ridge;
  } 

  .category .product .product-price{
    color: #030809;
    font-size: 12px;
  }

.category .product .productID{
    color: #030809;
    font-size: 16px;
  }
  
  .category .product .frame_gallery .img {
    border-radius: 50px;
    border-color: red;
    width: 530px;
    padding: 50px;
  }

  .category .product{
    border-radius: 20px;
    width: 200px;
    border-style: groove;
   
  }

  .category .product-card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      width: 300px;
      background: #ecedef;
      padding: 40px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      text-transform: uppercase;
      border-radius: 20px;
    }

    .product-card h1{
      font-size: 22px;
      margin-bottom: 4px;
    }
    .product-card p{
      font-size: 13px;
      color: #bbb;
    }

  .category .product .product-button{
    margin-left: auto;
    color: #ffffff;
    text-decoration: none;
    border: 4px solid;
    padding: 8px 24px;
    border-radius: 20px;
    transition: .4s linear;
    bottom: auto;
    font-size: small;
  }
  
  .category .product:hover{
    transform: scale(1.2);
  }
  
  section .category .product>div{
    text-align: center;
  }
  
  section .category .product div a{
    justify-content: center;
    text-decoration: none;
    background-color: black;
    border-radius: 20px;
    color: white;
    padding: .5rem;
    margin: 0.8em;
    
  }
  .vasespace{
    margin-bottom: 125rem;
  }
  .framespace{
    margin-bottom: 145rem;
  }
  .chairspace{
    margin-bottom: 0rem;
  }
  .space1{
    margin-top: 10rem;
  }
  .space{
      margin-bottom: 10rem;
  }
  .space2{
    margin-bottom: 5rem;
}
  
  section .category .product div a:hover{
    background-image: linear-gradient(90deg, 
    #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, 
    #00C0FF 100%);
    animation:slidebg 5s linear infinite;
  color: black;
  }


  .cat-title{
    position: sticky;
    font-size: 2rem;
    z-index: 99;
    text-align: center;
    color: rgb(255, 0, 0);
    font-family: 'Tapestry', cursive;
    background-color: black;
    padding: 1.5rem;
    margin-bottom: 0rem !important;
   
  }

  
  .cat-featuredProducts{
    position: relative;
    font-size: 3.5rem;
    text-align: center;
    color: rgb(255, 0, 0);
    font-family: 'Tapestry', cursive;
    background-color: black;
    padding: 1.5rem;
    margin-bottom: 0rem !important;
   
    
  }
  
  
  .price1{
    color: green;
    font-size: 1.5rem;
    margin: 0.4em;
  }
  
  
  
  .price2{
    color: rgb(251, 2, 2);
    text-decoration: line-through;
  }
  
  

  
  @media only screen and (max-width: 768px) {
    .category{
     
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    margin-top: 80rem;
    margin-bottom: 40rem;
  
    
    }
  
  
    .category .product .image img{
      border-radius: 20px;
      width: 100px;
     border-color: rgb(255, 0, 0);
      border-style: ridge;
    } 
    .category .product{
      border-radius: 20px;
   
      width: 160px;
      border-style: groove;
     
    }
    
  }